@media only screen and (min-width: 769px) {
    .basket {
        position: relative;
        .jbStaticText {
            font-family: 'Rajdhani', sans-serif;
            font-weight: bold;
            font-size: 13px;
            line-height: 14px;
            color: #333333;
            top: 20px;
            right: 15px;
            position: absolute;
            &.jOneLine{
            top: 30px;
            }
        }
    }
    .jbPriceOld,
    .jbDiscount {
        font-size: 13px;
        color: #db2323;
        display: flex;
        justify-content: center;
    }
    .jbPriceOld {
        margin-bottom: -2px;
        text-decoration: line-through;
    }
    .jbDiscount {
        margin-top: -4px;
    }
    .btn.btn-success{
        margin-bottom: 4px !important;
    }
    .jbDelivery {
        font-size: 12px;
        color: #1e3662;
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 13px;
        //color: #333333;
    }
    .basket-summary .sub-section.pl .title {
        width: 180px;
        &:after {
            content: "200 PLN";
        }
    }
    .summary-info {
        padding-bottom:10px;
        .col-md-12.col-sm-5 {
            .btn.btn-inverse {
                margin-bottom: 6px;
            }
        }
    }
    .summary-info{
        .btn.btn-inverse{
            display: none;
        }
    }
}

@media only screen and (max-width: 768px) {
    .jbStaticText,
    .jbPriceOld,
    .jbDiscount {
        display: none !important;
    }
}