@import "../progressbar/progressbar-mixin.scss";
    @media only screen and (min-width: 992px) {

    @include progressBarMixin(20px, relative);
    .nav, 
    #top-banner,
    .info-bar,
    .row.top-bar__bg._relpos,
    .order__navigation{
        display: none !important;
    }

    #form-delivery .col-md-12.col-sm-8.col-xs-12.detalis,
    #form-delivery .col-md-12.col-sm-4.col-xs-12.info{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .btn.btn-primary.pull-right.order-sub-btn{
        padding: 0px;
    }
    
    .container-fluid.down_margin{
        margin-top: 30px;
    }
    .basket-summary.pull-right{
        display: none !important;
    }
    .jbHeaderText{
        color: #000032;
        font-size: 32px;
        position: absolute;
        left: calc(50% - 588px) !important;
    }
    .wrapper{
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
        .info-bar{
            a:nth-child(2){
                &:after{
                    width: 1px;
                    content: "";
                    height: 150%;
                    background: #aaa;
                    position: absolute;
                    display: block;
                    left: 66.66666666%;
                    top: -25%;
                    transform: rotate(45deg);
                }
            }a:nth-child(3){
                background: none;
                color: #fff;
            }
        }
    .footer__newsletter{
        background: none !important;
        a{
            color: #fff !important;
        }
    }

    .order-confirm{
        margin-top: 35px;
        width: 100% !important;
        .window{
            margin-bottom: 0px !important;
            .row{
                border-bottom: 1px #000 solid;
            }
        }
        .summary-info{
            .col-md-12.col-sm-7{
                width: 310px;
                float: right;
            }
        }
        .summary-info + .form-group{
            .order-sub-btn{
                width: 280px;
                height: 50px;
            }
            .order-back-btn{
                float: left !important;
                background: none;
                color: #1e3662;
                font-size: 16px;
                font-weight: normal;
                text-decoration: underline;
                text-transform: none;
                &:hover {
                    background-color: none;
                    color: #1e3662;
                }
            }
        }
        .col-md-12.col-sm-8.col-xs-12.detalis,
        .col-md-12.col-sm-4.col-xs-12.info{
            padding-left: 100px !important;
            padding-right: 100px !important;
        }
    }
    .order-confirm {
        margin-top: 20px;
        background-color: #ffffff;
        width: 100% !important;
        #form-delivery {
            width: 70% !important;
            margin: 0 auto;
            padding-top:20px;
        }
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .jbHeaderText{
        left: calc(50% - 487px) !important;
    }
    #form-delivery .col-md-12.col-sm-8.col-xs-12.detalis,
    #form-delivery .col-md-12.col-sm-4.col-xs-12.info
    {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}
    
    @media only screen and (max-width: 991px) {}