@import "../progressbar/progressbar-mixin.scss";
    @media only screen and (min-width: 992px) {

    @include progressBarMixin(10px, relative);
    .nav, 
    #top-banner,
    .info-bar,
    .row.top-bar__bg._relpos{
        display: none !important;
    }
    .container-fluid.down_margin{
        margin-top: 30px;
    }
    .jbHeaderText{
        color: #000032;
        font-size: 32px;
        position: absolute;
        left: calc(50% - 588px) !important;
    }
        .info-bar{
            a:nth-child(2){
                &:after{
                    width: 1px;
                    content: "";
                    height: 150%;
                    background: #aaa;
                    position: absolute;
                    display: block;
                    left: 66.66666666%;
                    top: -25%;
                    transform: rotate(45deg);
                }
            }a:nth-child(3){
                background: none;
                color: #fff;
            }
        }
    }
    .footer__newsletter{
        background: none !important;
        a{
            color: #fff !important;
        }
    }

    .container-fluid.down_margin{
        .row:nth-child(3){
            .container .row{
                display: flex;
                flex-direction: row-reverse;
                .messages{
                    display: none;
                }
                .col-sm-12,.col-sm-6{
                    padding-right: 0px;
                    padding-left: 0px;
                    width: 33.33% !important;
                }
                .login-section__nologin{
                    margin-top: 20px;
                }
                .col-sm-12{
                    margin-top: 20px;
                    background: #fff;
                    .login-section__nologin{
                        display: flex;
                        flex-direction: column-reverse;
                        padding-left: 40px;
                        padding-right: 40px;

                        //height: 400px;
                        .btn.btn-inverse{
                            background: #B6FF3D;
                            color: #1E3662;
                        }
                        .small.text-muted{
                            display: none;
                        }
                        .jbNoLoginText{
                            padding-top: 5px;
                            font-size: 14px;
                            color: #333333;
                            text-align: left;
                        }
                    }
                    .page-header{
                        display: flex;
                        justify-content: center;
                    }
                    .jbContText{
                        text-align: left;
                        font-weight: bold;
                    }
                }
                .col-sm-6{
                    .login-section{
                        height: 400px !important;
                    }
                    .btn.btn-success{
                        color: #B6FF3D;
                        background: #1E3662;
                    }
                    .login-section__inputs{
                        .page-header{
                            margin-bottom: 26px;
                        }
                    }
                    h3 + ul + ul:not(.jbRegUlContent){
                        display: none;
                    }
                }
               .page-header{
                   font-size: 18px;
                   font-weight: bold;
                   line-height: 20px;
                   color: #333333;
               }
               .register-section {
                .or{
                    margin: 10px 0px!important;
                    
                    }
                    .register-section__buttons{
                        padding-left: 0px !important;
                    }
               } 
            h3.lead{
                text-transform: none;
                font-weight: bold;
            }
            ul{
                padding-left: 17px !important;
            }
            
            }
            
        }
    }
    @media only screen and (min-width: 992px) and (max-width: 1200px) {
        .jbHeaderText{
            color: #000032;
            font-size: 32px;
            position: absolute;
            left: calc(50% - 487px) !important;
        }
    }
    
    @media only screen and (max-width: 991px) {}