@media only screen and (max-width: 768px) {
    .nav, 
    #top-banner,
    .info-bar,
    .row.top-bar__bg._relpos,
    .basket-summary.pull-right,
    .order__navigation{
        display: none !important;
    }
    #form-order > div:nth-child(9){
        display: none;
    }
    .jbHeaderText{
        color: #000;
        font-weight: bold;
        font-size: 20px;
        position: absolute;
        left: calc(50% - 166px) !important;
        margin-top: 10px;
    }
    .jbButtons{
        margin-bottom: 20px;
        .order-back-btn{
            display: flex;
            float: left !important;
            background: none;
            padding-left: 0px;
            color: #000;
            font-size: 16px;
            font-weight: normal;
            text-decoration: underline;
            text-transform: lowercase;
            &:hover {
                background: none !important;
                background-color: none !important;
                color: #1e3662;
            }
            &:before{
                content: '<<';
            }
            &:focus,
            &:active{
                //border:1px solid black;
                background:none;
                outline:none;
            // padding:0;
            }
        }
    }
   
    #chat-application{
        display: none !important;
    }
    #form-order{
        margin-top: 40px;
    }

    .order-index{
        label{
            &[for="addressValue[business]"]{
                 &:after{
                     content: ' (opcjonalnie)';
                 }
            }
            &[for="addressValue[postcode]"]{
                 &:after{
                     content: ' (np. 00-123)';
                 } 
             }
             &[for="addressValue[phone]"]{
                 &:after{
                     content: ' (np. +48 700 200 300)';
                 }
             }
        }
    }
}

@media only screen and (min-width: 769px) {
    
}