@media only screen and (max-width: 768px) {
    #afterAddTobasketModal {
        top: 12%;
        .modal-header {
            background: #1E3662;
            display: flex;
            align-content: center;
            height: 38px;
           //padding: 15px 40px;
            .close {
                color: #fff;
                font-size: 24px;
                position: absolute;
                top: 4px;
                right: 17px;
                font-weight: normal;
                text-transform: lowercase;
                opacity: 1;
            }
            &--title {
                position: relative;
                font-size: 13px;
                color: #b5ff3d;
                font-weight: bold;
                top: -3px;
            }
            &--icon {
                margin-right: 10px;
                height: 17px;
                margin-top: -3px;
            }
        }
        .modal-body {
            &-top-info{
                font-size:14px;
                color:#000000;
                margin-bottom:22px;
                line-height: 14px;
            }
            padding: 14px 20px 26px 20px;
            .modal-mody-container-product {
                display: flex;
                &--image {
                    margin-right: 18px;
                    img {
                        width: 80px;
                        height: 54px;
                    }
                }
                &--info {
                    display: flex;
                    flex-direction: column;
                    &--title {
                        font-size:14px;
                        font-weight:bold;
                        color:#000;
                        text-transform: uppercase;
                        line-height: 16px;
                    }
                    &--code {
                        font-size:12px;
                        color:#333;
                        margin-bottom:14px;
                        line-height: 14px;
                    }
                    &--size {
                        font-size:14px;
                        font-weight:bold;
                        color:#000;
                        line-height: 14px;
                    }
                    &--price {
                        margin-top:4px;
                        font-size:18px;
                        line-height: 18px;
                        color:#000;
                    }
                }
            }
        }
        .modal-footer {
            display: flex;
            flex-direction: column-reverse;
           // padding: 15px 40px 20px 40px;
            .modal-footer--go-to-shoping {
                background: none;
                color: #1e3662;
                font-size: 12px;
                font-weight: normal;
                text-decoration: underline;
                text-transform: normal;
                cursor: pointer;
                border: none;
                outline: none !important;
                padding-top: 20px;
                &:focus {
                    border: none;
                    outline: none !important;
                }
            }
            .modal-footer-go-to-basket {
                font-size:16px;
                padding: 16px 60px;
               // height: 26px;
                //width: 60px;
            }
        }
    }
    #checkSizeModal{
        display: none !important;
    }
}

@media only screen and (min-width: 1200px) {}

@media only screen and (min-width: 769px) {}