@media only screen and (min-width: 992px) {
    #floater{
        display: none;
    }
    body{
        padding-top: 0px !important;
    }
    .jbRow {
        height: 94px;
        background: #000032;
        width: 100%;
        justify-content: center;
        display: flex;
        &Content {
            width: 1170px;
            height: 100%;
            &::after {
                content: "";
                display: table;
                clear: both;
            }
            &Column {
                position: relative;
                align-content: center;
                align-items: center;
                vertical-align: middle;
                float: left;
                //width: 33.33%;
                width: 25%;
                height: 100%;
                display: flex;
                left: calc(1%);
                .jbLogo {
                    height: 80px;
                }
                .jbAddInfo {
                    float: right;
                    width: 100%;
                    margin-top: 10px;
                    //align-content: center;
                    //align-items: le;
                    margin-right: 25px;
                    .jbPhone {
                        &:before {
                            content: url(../../../assets/sprint1/v2/phone.svg);
                            margin-right: 9px;
                            margin-top: 2px;
                            margin-left: 3px;
                        }
                    }
                    .jbMail{
                        &:before {
                            content: url(../../../assets/sprint1/v2/mail.svg);
                            margin-right: 6px;
                            margin-top: 2px;
                        }
                    }
                    .jbPhone,
                    .jbMail {
                        display: flex;
                        align-items: center;
                        margin-bottom: 0px;
                        color: #b5ff3d;
                        font-size: 16px;
                        text-align: right;
                       float: right;
                    }
                }
            }
        }
    }

    .jbSsl{
        display: flex;
        margin-left: -5px;
        height: 42px;
        background-color: #1e3662;
        font-size: 14px;
        color: #ffffff;
        align-items: center;
        justify-content: center;
        &:before {
            content: url(../../../assets/sprint1/v2/ssl.svg);
            margin-top: 4px;
            margin-right: 9px;
        }
    }
}

@media only screen and (max-width: 991px){
    .jbProgressBar,
    .jbRow{
        display: none;
    }
}