@media only screen and (min-width: 992px) {
    .container._relpos2 {
        display: none;
    }
    .jbUspContainer {
        width: 100%;
        background: #000032;
        min-height: 40px;
        &NestedCon {
            width: 970px;
            margin: 0 auto;
            height: 100%;
            display: flex;
            justify-content: space-between;
            &:hover .jbUspContainerNestedHover {
                display: block !important;
            }
        }
        &Nested {
            &:first-of-type {
                margin-left: 24px;
            }
            display: flex;
            flex-direction: column;
            padding: 11px 0px 11px;
            width: 312px;
            &Title {
                display: flex;
                align-items: center;
                img {
                    display: block;
                    width: 24px;
                    height: 24px;
                    margin-right: 10px;
                }
                span {
                    color: #b5ff3d;
                    //   font-family: "Rajdhani - Semi Bold";
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 14px;
                    text-transform: uppercase;
                    letter-spacing: 0.26px;
                }
            }
            &Hover {
                display: none;
                font-size: 12px;
                color: #ffffff;
                margin-top: 4px;
                padding-left: 36px;
                line-height: 14px;
                width: 280px;
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .jbUspContainer {
        width: 100%;
        &NestedCon {
            width: 1170px;
        }
    }
}

@media only screen and (max-width: 991px) {
    .jbUspContainer {
        display: none;
    }
}