<div class="jbUspContainer">
    <div class="jbUspContainerNestedCon">
        <div class="jbUspContainerNested">
            <div class="jbUspContainerNestedTitle">
                <img src="../../../assets/sprint1/v1/usp-cal.svg">
                <span>MASZ 30 DNI NA BEZPROBLEMOWY ZWROT</span>
            </div>
            <div class="jbUspContainerNestedHover">
                Do 30 dni od otrzymania towaru możesz dokonać zwrotu bez podania przyczyny.
            </div>
        </div>
        <div class="jbUspContainerNested">
            <div class="jbUspContainerNestedTitle">
                <img src="../../../assets/sprint1/v1/usp-package.svg">
                <span>EKSPRESOWA WYSYŁKA W 24 GODZINY</span>
            </div>
            <div class="jbUspContainerNestedHover">Wszystkie zamówienia wysyłamy w ciągu 24godzin(w dni robocze)- dla produktów dostępnych w magazynie.</div>
        </div>
        <div class="jbUspContainerNested">
            <div class="jbUspContainerNestedTitle">
                <img src="../../../assets/sprint1/v1/usp-delivery.svg">
                <span>DARMOWA DOSTAWA OD 200ZŁ</span>
            </div>
            <div class="jbUspContainerNestedHover">Pokrywamy koszty wysyłki przy zakupie powyżej 200 zł.</div>
        </div>
    </div>
</div>