@media only screen and (max-width: 768px) {
    .nav,
    #top-banner,
    .info-bar,
    .row.top-bar__bg._relpos,
    .basket-summary.pull-right,
    .order__navigation {
        display: none !important;
    }
    .jbHeaderText {
        color: #000;
        font-weight: bold;
        font-size: 20px;
        position: absolute;
        left: calc(50% - 166px) !important;
        margin-top: 10px;
    }
    @mixin labelMixin($url: "../../../assets/sprint1/v2/img-dhl.png") {
        position: relative;
        padding-left: 84px !important;
        &:after {
            content: url($url);
            position: absolute;
            left: 36px;
            top: 4px;
        }
    }
    .nav,
    #top-banner,
    .info-bar,
    .row.top-bar__bg._relpos,
    .order__navigation {
        display: none !important;
    }
    .basket-summary.pull-right {
        display: none !important;
    }
    .wrapper {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    label[for="delivery-7-1"],
    label[for="delivery-10-1"],
    label[for="delivery-7-2"],
    {
        @include labelMixin();
    }
    label[for="delivery-1-1"],
    label[for="delivery-1-2"] {
        @include labelMixin("../../../assets/sprint1/v2/img-ups.png");
    }
    label[for="delivery-2-1"] {
        @include labelMixin("../../../assets/sprint1/v2/img-inpost.png");
    }
    label[for="payment-4-"] {
        @include labelMixin("../../../assets/sprint1/v2/img-paypal.png");
    }
    label[for="payment-2-"] {
        @include labelMixin("../../../assets/sprint1/v2/img-banktransfer.png");
    }
    label[for="payment-5-"] {
        @include labelMixin("../../../assets/sprint1/v2/img-tpay.png");
    }
    label[for="giftPay"] {
        position: relative;
        padding-left: 40px !important;
        > span {
            display: block;
            position: relative;
            width: calc(100% - 15px);
            margin-top: -2px !important;
            left: -10px;
            top: 10px;
            padding-left: 60px;
            padding-right: 10px;
            margin-bottom: 18px;
        }
    }
    label[for="payment-1-"] {
        position: relative;
        padding-left: 40px !important;
    }
    .jbNewDeliveryTitle .container h2 {
        color: #000;
        font-weight: bold;
        font-size: 20px;
    }
    .basket-summary.pull-right,
    .info-bar,
    .order__navigation {
        display: none;
    }
    .order-delivery {
        // margin-top: 20px;
        //background-color: #ffffff;
        width: 100% !important;
        #form-delivery {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            .page-header {
                order: 1;
            }
            .deliveries {
                order: 2;
            }
            .paczkomaty {
                order: 3;
            }
            .parcelshop {
                order: 3;
            }
            .jbPaymentsHeader {
                order: 4;
            }
            .payments {
                order: 5;
            }
            .order-details {
                order: 6;
            }
            .summary-info {
                order: 7;
            }
            .form-group {
                order: 8;
            }
        }
        .page-header {
            font-size: 18px;
            font-weight: bold;
            color: #333333;
            padding-bottom: 0px;
            padding-left: 12px;
        }
        .row.deliveries {
            padding: 20px 0px;
            margin: 0px -15px;
            border-top: 1px solid #000032;
            .deliveries__row {
                >h3 {
                    display: none;
                }
                >label {
                    padding-left: 32px;
                    >img {
                        display: none;
                    }
                }
                >h3 {
                    font-size: 18px;
                    color: #333333
                }
                input[type="radio"]+label::before,
                input[type="checkbox"]+label::before {
                    width: 20px;
                    height: 20px;
                    top: calc(50% - 11px);
                    left: 7px;
                }
            }
            label {
                font-size: 16px;
                margin-bottom: 5px;
                min-height: 50px;
                width: 100%;
                border: 1px #e6e6e6 solid;
                .jbWhiteSpace {
                    display: flex;
                    margin-top: 8px;
                }
                .text-muted {
                    font-size: 12px;
                    margin-top: -5px;
                    display: flex;
                }
                &:before {
                    border: 0px solid #fff !important;
                    background: none !important;
                    content: url('../../../assets/sprint1/v2/radio_unactive.svg');
                }
            }
        }
        .row.payments {
            padding: 20px 0px;
            input[type="radio"]+label::before,
            input[type="checkbox"]+label::before {
                width: 20px;
                height: 20px;
                top: calc(50% - 11px);
                left: 7px;
            }
            .jbPaymentsActive{
                &::before {
                    top: 14px !important;
                }
                label[for="giftPay"] {
                    position: relative;
                    padding-left: 40px !important;
                    > span {
                        display: block;
                        position: relative;
                        width: calc(100% - 15px);
                        left: -10px;
                        top: 10px;
                        padding-left: 10px;
                        padding-right: 10px;
                        margin-bottom: 18px;
                    }
                }
            }
            label {
                font-size: 16px;
                margin-bottom: 5px;
                min-height: 50px;
                width: 100%;
                border: 1px #e6e6e6 solid;
                .jbWhiteSpace {
                    display: flex;
                    margin-top: 14px;
                }
                span:not(.jbWhiteSpace) {
                    font-size: 12px;
                    color: #000000;
                    line-height: 16px;
                }
                &:before {
                    border: 0px solid #fff !important;
                    background: none !important;
                    content: url('../../../assets/sprint1/v2/radio_unactive.svg');
                }
            }
            span {
                display: none;
            }

            .jbPaymentsActive{
                > span{
                    display: block;
                    position: relative;
                    width: calc(100% + 15px);
                    left: -58px;
                    top: 10px;
                    padding-left: 10px;
                    padding-right: 10px;
                    margin-bottom: 18px;
                }
            }
        }
        .summary-info {
            display: none !important;
        }
        .summary-info+.form-group {
            padding-bottom: 80px !important;
            padding-right: 20px;
            .order-back-btn {
                float: left !important;
                background: none;
                color: #1e3662;
                font-size: 16px;
                font-weight: normal;
                text-decoration: underline;
                text-transform: none;
                &:hover {
                    background-color: none;
                    color: #1e3662;
                }
            }
            .order-sub-btn {
                width: 280px;
                height: 50px;
            }
        }
        .form-group {
            padding: 0px;
        }
    }
    .row.deliveries+.page-header {
        display: none;
        +.jbPaymentsHeader {
            margin-bottom: 20px;
            font-size: 14px;
            font-weight: bold;
            color: #333333;
            padding-bottom: 0px;
            padding-left: 8px;
        }
    }
    .jbDeliveryHeader {
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: bold;
        color: #333333;
        padding-bottom: 0px;
        padding-left: 0px;
    }
    #form-delivery>h2:nth-child(3) {
        display: none;
    }
    .payments__row.not-active {
        display: none !important;
    }
    .jbDeliveryActive {
        border: 1px #1e3662 solid !important;
        &:before {
            border: 0px solid #fff !important;
            background: none !important;
            content: url('../../../assets/sprint1/v2/radio_active.svg') !important;
        }
    }
    .jbPaymentsActive {
        border: 1px #1e3662 solid !important;
        &:before {
            border: 0px solid #fff !important;
            background: none !important;
            content: url('../../../assets/sprint1/v2/radio_active.svg') !important;
        }
    }
    .jbHidden {
        display: none;
    }
    .jbDeliveriesTab {
        display: flex;
        font-size: 14px;
        color: #333;
        padding: 0 15px;
        >* {
            height: 50px;
            width: 50%;
            display: flex;
            align-items: center;
            padding-left: 8px;
            justify-content: center;
            background: white;
            border-top: 1px solid #b6b6d2;
            border-right: 1px solid #b6b6d2;
            position: relative;
            &.active {
                border-top: 3px solid #000032;
                &:after {
                    content: "";
                    bottom: -1px;
                    position: absolute;
                    height: 1px;
                    background: white;
                    width: 100%;
                    left: 0;
                }
            }
        }
        &Before {
            border-left: 1px solid #b6b6d2;
        }
        &After {}
    }
}

@media only screen and (min-width: 769px) {}