@import "../progressbar/progressbar-mixin.scss";
@media only screen and (min-width: 992px) {
    @include progressBarMixin(40px, relative);
    @mixin labelMixin($url: "../../../assets/sprint1/v2/img-dhl.png") {
        position: relative;
        padding-left: 84px !important;
        &:after {
            content: url($url);
            position: absolute;
            left: 36px;
            top: 4px;
        }
    }
    .nav,
    #top-banner,
    .info-bar,
    .row.top-bar__bg._relpos,
    .order__navigation {
        display: none !important;
    }
    .container-fluid.down_margin {
        margin-top: 30px;
    }
    .basket-summary.pull-right {
        display: none !important;
    }
    .wrapper {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    label[for="delivery-7-1"],
    label[for="delivery-10-1"],
    label[for="delivery-7-2"],
    {
        @include labelMixin();
    }
    label[for="delivery-1-1"],
    label[for="delivery-1-2"] {
        @include labelMixin("../../../assets/sprint1/v2/img-ups.png");
    }
    label[for="delivery-2-1"] {
        @include labelMixin("../../../assets/sprint1/v2/img-inpost.png");
    }
    label[for="payment-4-"] {
        @include labelMixin("../../../assets/sprint1/v2/img-paypal.png");
    }
    label[for="payment-2-"] {
        @include labelMixin("../../../assets/sprint1/v2/img-banktransfer.png");
    }
    label[for="payment-5-"] {
        @include labelMixin("../../../assets/sprint1/v2/img-tpay.png");
    }
    label[for="payment-1-"] {
        position: relative;
        padding-left: 40px !important;
    }
    .jbNewDeliveryTitle .container h2 {
        font-size: 32px;
        color: #000032
    }
    .basket-summary.pull-right,
    .info-bar,
    .order__navigation {
        display: none;
    }
    .order-delivery {
        margin-top: 20px;
        background-color: #ffffff;
        width: 100% !important;
        #form-delivery {
            width: 70% !important;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            .page-header {
                order: 1;
            }
            .deliveries {
                order: 2;
            }
            .paczkomaty {
                order: 3;
            }
            .parcelshop {
                order: 3;
            }
            .jbPaymentsHeader {
                order: 4;
            }
            .payments {
                order: 5;
            }
            .order-details {
                order: 6;
            }
            .summary-info {
                order: 7;
            }
            .form-group {
                order: 8;
            }
        }
        .page-header {
            font-size: 18px;
            font-weight: bold;
            color: #333333;
            padding-bottom: 0px;
            padding-left: 12px;
        }
        .row.deliveries {
            .deliveries__row {
                >label {
                    padding-left: 32px;
                    >img {
                        display: none;
                    }
                }
                >h3 {
                    font-size: 18px;
                    color: #333333
                }
                input[type="radio"]+label::before,
                input[type="checkbox"]+label::before {
                    width: 20px;
                    height: 20px;
                    top: calc(50% - 11px);
                    left: 7px;
                }
            }
            label {
                font-size: 16px;
                margin-bottom: 5px;
                height: 50px;
                width: 310px;
                border: 1px #e6e6e6 solid;
                .jbWhiteSpace {
                    display: flex;
                    margin-top: 8px;
                }
                .text-muted {
                    font-size: 12px;
                    margin-top: -5px;
                    display: flex;
                }
                &:before {
                    border: 0px solid #fff !important;
                    background: none !important;
                    content: url('../../../assets/sprint1/v2/radio_unactive.svg');
                }
            }
        }
        .row.payments {
            .payments__row {
                input[type="radio"]+label::before,
                input[type="checkbox"]+label::before {
                    width: 20px;
                    height: 20px;
                    top: calc(50% - 11px);
                    left: 7px;
                }
                label {
                    font-size: 16px;
                    margin-bottom: 5px;
                    height: 50px;
                    width: 310px;
                    border: 1px #e6e6e6 solid;
                    .jbWhiteSpace {
                        display: flex;
                        margin-top: 14px;
                    }
                    span:not(.jbWhiteSpace) {
                        position: absolute;
                        left: calc(100% + 4px);
                        top: 0px;
                        width: 450px;
                        background: #eceef7;
                        padding: 10px;
                    }
                    &:before {
                        border: 0px solid #fff !important;
                        background: none !important;
                        content: url('../../../assets/sprint1/v2/radio_unactive.svg');
                    }
                    .jbTooltip {
                        position: absolute;
                        cursor: pointer;
                        right: 10px;
                        top: 16px;
                        content: url('../../../assets/sprint1/v2/info-circle.svg');
                        &:hover {
                            ~span {
                                display: block;
                            }
                        }
                    }
                }
                span {
                    display: none;
                }
            }
        }
        .summary-info {
            display: none !important;
        }
        .summary-info+.form-group {
            padding-bottom: 80px !important;
            padding-right: 20px;
            .order-back-btn {
                float: left !important;
                background: none;
                color: #1e3662;
                font-size: 16px;
                font-weight: normal;
                text-decoration: underline;
                text-transform: none;
                &:hover {
                    background-color: none;
                    color: #1e3662;
                }
            }
            .order-sub-btn {
                width: 280px;
                height: 50px;
            }
        }
    }
    .row.deliveries+.page-header {
        display: none;
        +.jbPaymentsHeader {
            margin-bottom: 20px;
            font-size: 18px;
            font-weight: bold;
            color: #333333;
            padding-bottom: 0px;
            padding-left: 12px;
        }
    }
    .jbDeliveryActive {
        border: 1px #1e3662 solid !important;
        &:before {
            border: 0px solid #fff !important;
            background: none !important;
            content: url('../../../assets/sprint1/v2/radio_active.svg') !important;
        }
    }
    .jbPaymentsActive {
        border: 1px #1e3662 solid !important;
        &:before {
            border: 0px solid #fff !important;
            background: none !important;
            content: url('../../../assets/sprint1/v2/radio_active.svg') !important;
        }
    }
    .payments__row.not-active {
        display: none !important;
    }
    #giftPay {
        padding-left: 24px !important;
        color: #c7cdd7;
    }
}

@media only screen and (min-width: 1200px) {}

@media only screen and (max-width: 991px) {}