@media only screen and (min-width: 992px) {
    #afterAddTobasketModal {
        top: 20%;
        .modal-header {
            background: #1E3662;
            display: flex;
            align-content: center;
            padding: 15px 40px;
            .close {
                color: #fff;
                font-size: 32px;
                position: absolute;
                top: 14px;
                right: 25px;
                font-weight: normal;
                text-transform: lowercase;
                opacity: 1;
            }
            &--title {
                position: relative;
                font-size: 22px;
                color: #ffffff;
                font-weight: bold;
                top: 2px;
            }
            &--icon {
                margin-right: 10px;
            }
        }
        .modal-body {
            &-top-info{
                font-size:14px;
                color:#000000;
                margin-bottom:22px;
                line-height: 14px;
            }
            padding: 14px 40px 26px 40px;
            .modal-mody-container-product {
                display: flex;
                &--image {
                    margin-right: 18px;
                    img {
                        width: 142px;
                        height: 94px;
                    }
                }
                &--info {
                    display: flex;
                    flex-direction: column;
                    &--title {
                        font-size:16px;
                        font-weight:bold;
                        color:#000;
                        text-transform: uppercase;
                        line-height: 16px;
                    }
                    &--code {
                        font-size:14px;
                        color:#333;
                        margin-bottom:14px;
                        line-height: 14px;
                    }
                    &--size {
                        font-size:14px;
                        font-weight:bold;
                        color:#000;
                        line-height: 14px;
                    }
                    &--price {
                        margin-top:4px;
                        font-size:18px;
                        line-height: 18px;
                        color:#000;
                    }
                }
            }
        }
        .modal-footer {
            padding: 15px 40px 40px 40px;
            .modal-footer--go-to-shoping {
                background: none;
                color: #1e3662;
                font-size: 16px;
                font-weight: normal;
                text-decoration: underline;
                text-transform: none;
                cursor: pointer;
                border: none;
                outline: none !important;
                padding-top: 20px;
                &:focus {
                    border: none;
                    outline: none !important;
                }
            }
            .modal-footer-go-to-basket {
                font-size:16px;
                padding: 19px 78px;
            }
        }
    }
}

@media only screen and (min-width: 1200px) {}

@media only screen and (max-width: 991px) {}