<div id="afterAddTobasketModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <img class="modal-header--icon" src="../../../assets/sprint1/v2//ICON-OK.svg"/>
                <span class="modal-header--title">DODANO PRODUKT DO KOSZYKA!</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="padding: 0px 0px 0px 30px; height: 35px">
                    <span>x</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button class="pull-left modal-footer--go-to-shoping">KONTYNUUJ ZAKUPY</button>
                <button class="btn btn-primary pull-right modal-footer-go-to-basket">PRZEJDŹ DO KOSZYKA</button>
            </div>
        </div>
    </div>
</div>