@media only screen and (max-width: 768px) {
    .emptyCart{
        display: none !important;
    }

    .jbHidden {
        display: none;
    }

    .jbRabatCodeShow{
        padding-top: 0px;
        background: none;
        color: #1e3662;
        font-size: 16px;
        font-weight: normal;
        text-decoration: underline;
        text-transform: none;
        margin-left:20px;
        cursor: pointer;
    }

    .col-md-12.col-sm-5{
        .btn.btn-success{
            &:before{
                content: 'Przejdź do kasy';
                position: absolute;
                left: calc(50% - 50px);
                background: #B6FF3D;
            }
        }
        .btn.btn-inverse{
            display: none;
        }
    }
    .footer__newsletter{
        background: #1E3662 !important;
        a{
            color: #B6FF3D !important;
        }
        &:after{
            border-left: 0px solid transparent !important; 
            border-top: 0px solid #000032 !important;
        }
    }
}

@media only screen and (min-width: 769px) {
    
}