@import "../progressbar/progressbar-mixin.scss";
    @media only screen and (min-width: 992px) {

    @include progressBarMixin(10px, relative);
    .nav, 
    #top-banner,
    .info-bar,
    .row.top-bar__bg._relpos,
    .order__navigation,
    #body.theme-flat.frame-align-right.frame-align-bottom{
        display: none !important;
    }
    .container-fluid.down_margin{
        margin-top: 30px;
    }
    .wrapper{
        margin-bottom: 0px !important;
        padding-bottom: 0px !important;
    }
    .order-address{
        display: flex;
        flex-direction: column;
    }
    .order-index{
        margin-top: 30px;
        width: 100% !important;
        #privateAddress{
            justify-content: center;
            display: flex;
            order: 1;
            .row{
                width: 66%;
                .col-sm-6{
                    width: 361px;
                }
            }
        }/* */
        #privateAddress +.row{
            width: 100% !important;
            justify-content: center;
            display: flex;
           // flex-direction: row;
            order: 2;
            .col-sm-12{
                display: flex;
                justify-content: center;
               // padding-left: 0px;
                //padding-right: 0px;
                //width: 65%;
                .form-group{
                    width: 361px;
                }
                .form-group:nth-child(1){
                  //  width: 50%;
                    padding-left: 28px;
                }div:nth-child(3){
                    padding-left: 29px;
                }
                .form-group:nth-child(2){
                    //width: 47%;
                    //margin-left: 29px;
                    padding-left: 29px;
                }
                p.error{
                    left: 19.8%;
                    position: absolute;
                    top: 94%;
                }
            }
        }
        #privateAddress+.row+.row{
            justify-content: center;
            display: flex;
            order: 3;
            //width: 65%;
            .col-sm-6{
                width: 32%; 
            }
            +.row{
                display: flex;
                order: 4;
                .form-group{
                    width: 62%;
                    float: right;
                }
                +.row{
                    //display: flex;
                    order: 5;
                    +.row{
                        display: flex;
                        order: 7;
                    }
                    
                }
            }
            
        }	
        .col-sm-6.col-xs-12.phone{
            .form-group{
                width: 62%;
                display: flex;
                float: right;
                flex-direction: column;
                .intl-tel-input.allow-dropdown{
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                }
            }
            p.error{
                position: absolute;
                top: 93%;
                left: 38.5%;
            }
        }
        .order-address+.row{
            display: none;
        }
        .jbMail{
            display: flex;
            order: 6;
            .form-group {
                width: 62% !important;
            }
            p.error{
                position: absolute;
                top: 94%;
            }
        }
        .btn.btn-primary.pull-right.order-sub-btn{
            width: 310px;
            height: 50px;
            font-size: 14px !important;
        }
       label{
           &[for="addressValue[business]"]{
                &:after{
                    content: '(opcjonalnie)';
                }
           }
           &[for="addressValue[postcode]"]{
                &:after{
                    content: '(np. 00-123)';
                } 
            }
            &[for="addressValue[phone]"]{
                &:after{
                    content: '(np. +48 700 200 300)';
                }
            }
       }
    }
    .agree-box-term{
        label.checkbox-special{}
    }

    .jbHeaderText{
        color: #000032;
        font-size: 32px;
        position: absolute;
        left: calc(50% - 573px) !important;
    }

        .info-bar{
            a:nth-child(2){
                &:after{
                    width: 1px;
                    content: "";
                    height: 150%;
                    background: #aaa;
                    position: absolute;
                    display: block;
                    left: 66.66666666%;
                    top: -25%;
                    transform: rotate(45deg);
                }
            }a:nth-child(3){
                background: none;
                color: #fff;
            }
        }
    .footer__newsletter{
        background: none !important;
        a{
            color: #fff !important;
        }
    }
    .basket-summary.pull-right{
        display: none !important;
    }
    .order-back-btn{
        display: none !important;
    }

    .jbBack{
        float: left !important;
        background: none;
        color: #1e3662;
        font-size: 16px;
        font-weight: normal;
        text-decoration: underline;
        text-transform: lowercase;
    }

    .agree-box,
    .agree-box-term,
    #form-order > .form-group,
    #form-order > div:nth-child(9){
        width: 65%;
        margin-left: 205px;
    }
}
    @media only screen and (min-width: 992px) and (max-width: 1200px){
        .jbHeaderText{
            left: calc(50% - 474px) !important;
        }

        #privateAddress{
            .row{
                width: 81% !important;
            }
            + .row + .row .col-sm-6{
                width: 367px !important;
                //width: 37% !important;
            }
            + .row + .row .col-sm-6{
                width: 360px !important;
                //width: 77% !important;
            }
            + .row + .row + .row .form-group{
                width: 330px !important;
            }
        }
        .order-index .jbMail .form-group{
            width: 330px !important;
          //  width: 76% !important;
        }
       
        .order-index .col-sm-6.col-xs-12.phone .form-group{
            width: 76% !important;
        }
    }
    
    @media only screen and (max-width: 991px) {}