
@media only screen and (max-width: 768px) {
    .footer.footer--sticked:not(.jbNewFooter),
    .col-md-12.footer_options,
    {
        display: none !important;
    }
    .footer{
        .container{
            background: #000033 !important;
            width: 100%;
            padding-right: 0px !important;
            padding-left: 0px !important;
        }
    }
    .jbNewFooter{
        display: flex !important;
        width: 100% !important;
        position: relative !important;
        margin-bottom: -50px;
        height: 80px !important;
        span{
            color: #fff;
            justify-content: center;
            text-align: center;
            width: 100%;
            display: flex;
            padding-top: 30px;
        }
        .footer_copy{
            width: 65%;
            justify-content: center;
            display: flex;
            justify-items: center;
            align-items: center;
            align-content: center;
        }
        .col-md-12{
            display: flex;
        }
    }
    #chat-application{
        display: none !important;
    }
}

@media only screen and (min-width: 769){
}