<div id="jbHeader" class="jbRow">
    <div class="jbRowContent">
        <div class="jbRowContentColumn">
            <a href="https://zgodafc.pl">
                <img class="jbLogo" src="https://zgodafc.pl/img/zgodafc/logo-white.png" />
            </a>
        </div>
        <div class="jbRowContentColumn" style="width: 30%">
            
        </div>
       
        <div class="jbRowContentColumn">
            <div class="jbAddInfo">
                <p class="jbPhone">+48 531 367 052</p>
                <p class="jbMail">szatnia@zgodafc.pl</p>
            </div>
        </div>
    </div>
</div>