<div class="footer footer--sticked jbNewFooter">
    
        <div class="container">
            <div class="row"></div>
                <div class="col-md-12">
                    <div class="footer__icon">
                        <a href="https://www.facebook.com/ZgodaFC"><span class="fa fa-facebook"></span></a>
                        <a href="https://www.youtube.com/channel/UCH_2Ko25p6N-MKOFd7OgdCQ"><span class="fa fa-youtube"></span></a>
                        <a href="https://www.instagram.com/ZgodaFC/"><span class="fa fa-instagram"></span></a>
                        <div class="snapchat-box">
                            <span class="fa fa-snapchat-ghost"></span>
                            <span class="snapsearch">Znajdź nas	: <b>zgodafc</b></span>
                        </div>
                        <span class="mastercard_visa"><img src="/img/zgodafc/mastercard_visa.png"></span>
                    </div>
                    <div class="footer_copy">
                        <div class="jbCopyr">
                            <span>2018 (c) Zgodafc.pl</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>