
@media only screen and (min-width: 992px) {
    .footer.footer--sticked:not(.jbNewFooter),
    .col-md-12.footer_options,
    {
        display: none !important;
    }
    .footer{
        .container{
            background: #000032 !important;
            width: 100%;
        }
    }
    .jbNewFooter{
        display: flex !important;
        width: 100% !important;
        position: relative !important;
        margin-bottom: -50px;
        .jbCopyr{
            width: 65%;
            justify-content: center;
            font-size: 14px;
            color: #fff;
            display: flex;
        }
        .footer_copy{
            width: 65%;
            justify-content: center;
            display: flex;
            justify-items: center;
            align-items: center;
            align-content: center;
        }
        .col-md-12{
            display: flex;
        }
    }
    
}

@media only screen and (max-width: 991px){
}