@import "../progressbar/progressbar-mixin.scss";
@media only screen and (min-width: 992px) {
    @include progressBarMixin(10px, relative);
    .col-md-12.messages {
        margin-top: 35px;
    }
    .info-bar {
        a:nth-child(2) {
            &:after {
                width: 1px;
                content: "";
                height: 150%;
                background: #aaa;
                position: absolute;
                display: block;
                left: 66.66666666%;
                top: -25%;
                transform: rotate(45deg);
            }
        }
        a:nth-child(3) {
            background: none;
            color: #fff;
        }
    }
    .jbHidden {
        display: none;
    }
    .footer__newsletter {
        background: none !important;
        a {
            color: #fff !important;
        }
    }
    .title:not(.jbTitle) {
        display: none;
    }
    .summary-info {
        .btn.btn-success{
            &:before{
                content: 'Przejdź do kasy';
                position: absolute;
                left: calc(50% - 50px);
                background: #B6FF3D;
            }
        }
        .btn.btn-inverse {
            display: none;
        }
    }
    .basket-summary a {
        margin-bottom: 4px;
    }
    .btn.btn-gray.emptyCart {
        padding-top: 0px;
        background: none;
        color: #1e3662;
        font-size: 16px;
        font-weight: normal;
        text-decoration: underline;
        text-transform: none;
        &:hover {
            background-color: none;
            color: #1e3662;
        }
    }
    .basket>p>a {
        margin-top: 40px;
    }

    .jbRabatCodeShow{
        padding-top: 0px;
        background: none;
        color: #1e3662;
        font-size: 16px;
        font-weight: normal;
        text-decoration: underline;
        text-transform: none;
        margin-left:20px;
        cursor: pointer;
    }
}

@media only screen and (min-width: 1200px) {}

@media only screen and (max-width: 991px) {}