@media only screen and (max-width: 768px)
{
    .product__action{
        border-top: 0px solid #fff !important;
        padding-top: 60px !important;
    }
    .jbPromoCtr{
        height: 40px;
       background: #f0f0f0;
        flex-direction: row;
        float: right;
        left: 0px;
        width: 100%;
        display: flex;
        margin-top: 6px;
        position: absolute;
        img{
            margin-left: 20px;
        }
        &TextCtr{
            font-family: 'Rajdhani', sans-serif;
            font-weight: bold;
            font-size: 11px;
            color: #000032;
            line-height: 14px;
            padding: 6px;
            display: flex;
            flex-direction: column;
        }
        &:before {
            content: '';
            position: absolute;
            margin-top: -10px;
            right: 14%;
            transform: rotate(180deg);
            border-width: 5px;
            border-style: solid;
            border-color: #f0f0f0 transparent transparent transparent;
        }
    }
    .jbSize{
        display: flex;
        flex-direction: row;
        align-items: center;
        a{
            span{
                background-image: none;
            }
        }
        .jbProdSize{
            font-size: 14px !important;
            color: #000032 !important;
            line-height: 1.42857143 !important;
            text-transform: none !important;
            font-weight: normal !important;
            width: 57%;
            text-align: right;
            font-weight: 500 !important;
        }
    }
    .jbSole{
        display: flex;
        flex-direction: row;
        align-items: center;
       
        &Text{
            font-size: 14px !important;
            color: #000032 !important;
            line-height: 1.42857143 !important;
            text-transform: none !important;
            font-weight: normal !important;
            width: 65%;
            text-align: right;
            font-weight: 500 !important;
        }
    }
    .jbDelivery{
        margin-top: 12px;
        margin-bottom: 56px;
        font-size: 13px;
        color: #001845;
        font-weight: bold;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .product__size-text:not(.jbProdSize){
        display: none;
    }.col-md-6.product__type > label,.product__type-text:not(.jbSole){
        display: none;
    }
    .size > p{
        display: none;
    }
}

@media only screen and (min-width: 769px) {
    .jbPromoCtr,
    .jbSize,
    .jbSole{
        display: none !important;
    }
}