<div class="jbPromoCtr">
    <img src="../../../assets/sprint_1/icon-promo.svg"/>
    <div class="jbPromoCtrTextCtr">
        <span>Produkty w promocji wyprzedają się bardzo szybko.</span>
        <span>Nie przegap niższej ceny!</span>
    </div>
</div>