@mixin progressBarMixin($topValue: 116px, $position:absolute) {
    .jbProgressBar {
        display: -webkit-flex;
        display: flex;
        position: $position;
        -webkit-align-items: center;
        align-items: center;
        padding: 0 20px 0 0;
        top: $topValue;
        left: calc(50% - 122.5px);
        .jbProgressDoneStep,
        .jbProgressInactiveStep,
        .jbProgressCurrentStep,
        .jbProgressActiveStep {
            position: relative;
            max-height: 30px;
            .jbProgressLabel {
                position: absolute;
                top: 36px;
                left: 50%;
                transform: translateX(-50%);
                font-size: 12px;
                font-weight: bold;
                line-height: 14px;
                color: #b3b3b3;
                z-index: 1;
                text-align: center;
                white-space: nowrap;
            }
            .jbProgressStep {
                font-size: 14px;
                font-weight: bold;
                //background: #1e3662;    
                color: #fff;
                z-index: 1;
                position: absolute;
                left:11.5px;
                top: 5.5px;
            }
        }.jbProgressInactiveStep{
            .jbProgressStep {
                color: #b3b3b3;
            }
        }
        .jbTextActive{
            color: #000032 !important;
        }
        .jbProgressDoneStep{
            .jbProgressLabel{
                color: #000032 !important;
            }
        }
        .jbProgressCurrentStep{
            &:after {
                content: url(../../../assets/sprint1/v2/rb-active.svg);
            }
        }
        .jbProgressDoneStep{
            &:after{
                content: url(../../../assets/sprint1/v2/rb_done.svg);
                width: 30px;
                height: 30px;
            }
            &:before{
                content: url(../../../assets/sprint1/v2/step-done.svg);
                left: 10px;
                top: 6px;
                width: 30px;
                height: 30px;
                position: absolute;
            }
            .jbProgressStep {
                 visibility: hidden;
             }
        }
        .jbProgressInactiveStep {
            &:after {
                content: url(../../../assets/sprint1/v2/rb.svg);
                font-size: 1px;
                width: 30px;
                height: 30px;
               // color: #c1c1c1;
            }
            .jbProgressLabel {
                margin-bottom: 8px;
            }
        }
        .jbProgressLineEmpty,
        .jbProgressLineFilled {
            height: 1px;
           // margin-top: 10px;
            display: flex;
            width: 70px;
        }
        .jbProgressLineFilled {
            background-color: #b3b3b3;
        }
        .jbProgressLineEmpty {
            background-color: #b3b3b3;
            border-bottom: #b3b3b3 1px solid;
         //   border-top: #b3b3b3 1px solid;
        }
    }
}