<div class="jbProgressBar">
    <div id="jbStepOne" class="jbProgressInactiveStep">
        <span class="jbProgressLabel">KOSZYK</span>
        <span class="jbProgressStep">1</span>
    </div>
    <div id="jbLineTwo" class="jbProgressLineEmpty"></div>
    <div id="jbStepTwo" class="jbProgressInactiveStep">
        <span class="jbProgressLabel">DANE DO WYSYŁKI</span>
        <span class="jbProgressStep">2</span>
    </div>
    <div id="jbLineThree" class="jbProgressLineEmpty"></div>
    <div id="jbStepThree" class="jbProgressInactiveStep">
        <span class="jbProgressLabel">PODSUMOWANIE</span>
        <span class="jbProgressStep">3</span>
    </div>
</div>