@media only screen and (max-width: 768px) {
    .nav, 
    #top-banner,
    .info-bar,
    .row.top-bar__bg._relpos,
    .basket-summary.pull-right,
    .order__navigation{
        display: none !important;
    }
    #form-delivery{
        margin-top: 40px !important;
    }
    .jbHeaderText{
        color: #000;
        font-weight: bold;
        font-size: 20px;
        position: absolute;
        left: calc(50% - 166px) !important;
        margin-top: 10px;
    }
    .order-sub-btn{
        padding-left: 7px !important;
    }
    #form-delivery {
        .col-md-12.col-sm-4.col-xs-12.info {
            .form-group{
                padding-bottom: 5px;
                .order-back-btn{
                    display: none !important;
                }
            }
        }
    } 
   
}

@media only screen and (min-width: 769px) {
    
}