@media only screen and (min-width: 992px) {
    .product {
        .jbPromoBadge {
            display: flex;
            background: #db2323;
            //position: absolute;
            z-index: 101;
            align-content: center;
            &Icon{
                padding-left:12px;
            }
            &Content {
                font-size: 12px;
                color: #ffff;
                padding: 8px 10px;
            }
        }
        .tab-content {
            position: relative;
           
        }
        .product__type {
            width: 100% !important;
            position: relative;
            &-text {
                position: absolute;
                left: 0;
                top: 0;
                margin-left: 140px;
            }
        }
        .product__size {
            .product__size-text {
                display: none;
            }
        }
        .jbTableLink {
            margin-left: 6px;
            cursor: pointer;
            text-transform: initial;
            font-size: 14px;
        }
    }
}

@media only screen and (min-width: 1200px) {}

@media only screen and (max-width: 991px) {}