<div class="jbPromoBadge">
    <img class="jbPromoBadgeIcon" src="../../../assets/sprint1/v1/icon-promo.svg">
    <span class="jbPromoBadgeContent">Produkty promocyjne wyprzedają się  błyskawicznym tempie! Śpiesz się aby nie przegapić lepszej ceny!</span>
</div>
