@media only screen and (max-width: 768px)
{
    .jbStaticText{
        width: 100%;
        display: flex;
        font-family: 'Rajdhani', sans-serif;
        font-weight: bold;
        font-size: 13px;
        line-height: 14px;
        color: #333333;
        margin-bottom: 15px;
    }
    .jbPriceOld,
    .jbDiscount{
        font-size: 13px;
        color: #db2323;
        display: flex;
        justify-content: center;
    }
    .jbPriceOld{
        margin-bottom: -2px;
        text-decoration: line-through;
    }
    .jbDiscount{
        margin-top: -4px;
    }
    .jbDelivery{
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 13px;
        color: #333333;
    }
    .item_price{
        display: none !important;
    }
    .basket_item .downLine{
        border-bottom: none;
    }
    .btn.btn-inverse{
        display: none !important;
    }
    .btn.btn-success{
        margin-bottom: 5px !important;
    }
}

@media only screen and (min-width: 769px) {
    .jbStaticText,
    .jbPriceOld,
    .jbDiscount{
        display: none !important;
    }
}