@media only screen and (max-width: 768px) {
    .nav, 
    #top-banner,
    .info-bar,
    .row.top-bar__bg._relpos{
        display: none !important;
    }

    .jbHeaderText{
        color: #000;
        font-weight: bold;
        font-size: 20px;
        position: absolute;
        left: calc(50% - 166px) !important;
        margin-top: 10px;
    }
    .container-fluid.down_margin{
        margin-top: 15px;
    }
    .login-section{
        margin-top: 30px;
        display: none;
        min-height: 280px !important;
        height: 280px !important;
        padding-top: 5px;
        .page-header:not(.jbHeader){
            display: none;
        }
        .jbHeader{
            border-bottom: 0px #fff solid;
        }
    }
    .btn.btn-success.short-control.login_button.left{
        width: 260px;
        height: 40px;
        color: #B6FF3D;
        background: #1E3662;
    }
    .register-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        .page-header{
            width: 90%;
            border-bottom: 0px #000 solid;
        }
        .login-section__nologin{
            display: none;
                
        }
        .btn.btn-success{
            width: 260px;
            height: 40px;
            color: #B6FF3D;
            background: #1E3662;
        }
        .FacebookSignInButton.btn.btn-primary{
            width: 260px;
            height: 40px;
            font-weight: bold !important;
            border: 1px solid #1e3662 !important;
            font-size: 14px !important;
            color: #1e3662 !important;
            background: #fff !important;
        }
        .or{
            display: flex;
            width: 90%;
            margin-top: 15px;
            margin-bottom: 16px;
        }
    }
    .login-section__nologin{
        margin-top: 20px;
        span{
            display: flex;
            padding-top: 18px;
            font-size: 18px;
            font-weight: bold;
            color: #333;
            width: 100%;
            justify-content: center;
        }
        background: #fff;
        height: 125px;
        margin-bottom: 20px;
        .btn.btn-inverse{
            margin-top: 16px;
            width: 260px;
            height: 40px;
            background: #B6FF3D;
            color: #1E3662;
        }
        .small.text-muted{
            display: none;
        }
    }
    .footer{
        //display: none;  
    }
    .jbLoginContent{
        margin-top: 25px;
        font-size: 14px;
        color: #000;
        &Click{
            margin-left: 5px;
            cursor: pointer;
            text-decoration: underline;
        }
    }
    #chat-application{
        display: none !important;
    }
    .facebook:not(.jbFb){
        display: none !important;
    }
}

@media only screen and (min-width: 769px) {
    
}